.App {
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  font-family: 'Proxima Nova Rg';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Header{
  
}

.main-nav li{
  list-style: none;
  display: inline-block;
  margin-left: 35px;
  text-decoration: none;
}

.main-nav li a, .logo a{
  text-decoration: none;
  color: #333D51;
}

.main-nav li a:active{
  color: #004FEC;
}

.main-nav li a:focus{
  color: #004FEC;
}

.main-nav{
  width: 300px;
  margin: 45px 0px 0px 0px;
  float: right;
}

.logo{
  display: inline-block;
  margin: 45px 0px 0px 0px;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #333D51;
}