body{
  text-align: center;
  background-color: #FFFFF5;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 23px;
}

.addDeal{
  margin-top: 20px !important;
}

.addDealInput{
  outline: 0;
  outline-offset: 0;
  width: 400px;
  background-color: #FFFFF5;
  border: none;
  border-bottom: 1px solid #643d6e;
  cursor: pointer;
}

.addDealButton{
  outline: 0;
  outline-offset: 0;
  width: 75px;
  height: 25px;
  background-color: #a982b4;
  color: #fff;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.addDeal, .todo-item {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 15px auto;
  align-items: center;
}